.info-list{
  display:flex;
  flex-direction:column;
  gap:22px;
}

.info-card{
  background:white;

  border-radius:28px;

  padding:24px;

  display:flex;
  align-items:center;
  gap:20px;

  box-shadow:var(--shadow);
}

.info-icon{
  width:74px;
  height:74px;

  border-radius:20px;

  background:#d8f5df;

  color:#00aa3a;

  display:flex;
  align-items:center;
  justify-content:center;

  flex-shrink:0;

  font-size:38px;
}

.info-content{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.info-label{
  color:var(--text-soft);

  font-size:1.5rem;
}

.info-value{
  font-size:2rem;
  font-weight:500;
}