:root{
  --bg:#eef1f7;
  --card:#ffffff;

  --text:#1f2937;
  --soft:#6b7280;

  --blue:#3b82f6;
  --green:#00d84a;
  --pink:#ff2d95;
  --purple:#6764ff;
  --cyan:#14c8be;
  --red:#ff0000;

  --shadow:
    0 10px 25px rgba(0,0,0,.08);

  --radius:28px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Outfit',sans-serif;
  background:var(--bg);
  color:var(--text);
}

button{
  border:none;
  outline:none;
  cursor:pointer;
  font-family:inherit;
}

a{
  text-decoration:none;
  color:inherit;
}

#root{
  min-height:100vh;
}

/* ========================= */
/* PAGINAS */
/* ========================= */

.page{
  width:100%;
  max-width:520px;
  margin:auto;
  padding:20px;
  min-height:100vh;
}

.page-title{
  text-align:center;
  font-size:3rem;
  margin-bottom:35px;
}

/* ========================= */
/* HOME */
/* ========================= */

/* ========================= */
/* HEADER */
/* ========================= */

.navigate-header{
  display:flex;
  align-items:center;
  gap:20px;

  margin-bottom:30px;
}

.navigate-header h1{
  font-size:2.7rem;
}

.back-btn{
  width:58px;
  height:58px;

  border-radius:50%;

  background:white;

  box-shadow:var(--shadow);

  font-size:2rem;

  flex-shrink:0;
}

/* ========================= */
/* MEMORAMA */
/* ========================= */


/* ========================= */
/* INFO PERSONAL */
/* ========================= */



/* ========================= */
/* BOTON EMERGENCIA */
/* ========================= */

.emergencia{
  position:fixed;

  right:18px;
  bottom:18px;

  width:72px;
  height:72px;

  border-radius:50%;

  background:#ff0000;
  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:2rem;

  box-shadow:
    0 10px 20px rgba(255,0,0,.3);

  z-index:999;

  transition:.2s;
}

.emergencia:active{
  transform:scale(.92);
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:480px){

  .page-title{
    font-size:2.4rem;
  }

  .home-grid button{
    min-height:180px;
    font-size:2rem;
  }

  .navigate-header h1{
    font-size:2.1rem;
  }

  .memory-card{
    font-size:2rem;
  }

  .info-value{
    font-size:1.4rem;
  }
}